$theme-blue: #003661;
$theme-green: #80BA27;
$theme-orange: #F39100;
$theme-black: #210400;
$theme-white: #F7F8F9;
$theme-black-alpha: #210400a4;


/*-- scss:defaults --*/
$body-bg: $theme-white;
$body-color: $theme-black;
$body-secondary: $theme-black-alpha;
$link-color: $theme-green;
$link-hover-color: $theme-orange;
$dropdown-link-hover-bg: $theme-green;
$navbar-bg: $theme-blue;
$navbar-fg: $theme-white;
$code-color: $theme-blue;